h1= title

script(src='/socket.io/socket.io.js')
script(type='text/javascript')
  var ip = 'localhost';
  var socket = io.connect('http://' + ip + ':3000/room');

  socket.on('msg', function (args) {
    if (args.to) {
      from = create_private_window(args.to);
      document.getElementById('pmsgs_' + args.to).innerHTML += args.msg + '<br />';
    } else {
      document.getElementById('msgs').innerHTML += args.msg + '<br />';
    }
  });

  socket.on('online_users', function (online_users) {
    document.getElementById('online_users').innerHTML = '';
    for (name in online_users)
      document.getElementById('online_users').innerHTML += '<b><a onClick="create_private_window(&#39;' + name + '&#39;)">' + name + '</a></b> ';
  });

  function send(name, box) {
    socket.emit('msg', { to: name, msg: box.value });
    box.value = '';
    box.scrollTop = box.scrollHeight;
  }

  function create_private_window(name) {
    private_chat_container = document.getElementById('private_chat_container');
    if (document.getElementById('private_' + name))
      return document.getElementById('private_' + name);
    else {
      new_div = document.createElement('div');
      new_div.setAttribute('id', 'private_' + name);
      new_div.setAttribute('class', 'private_chat');
      new_div.innerHTML = "<a onClick='remove_private_window(&#39;" + name + "&#39;)'>x</a>";
      new_div.innerHTML += "<div id='pmsgs_" + name + "'></div>";
      new_div.innerHTML += "<input type='text' name='pmsg' onKeyDown='if (event.keyCode == 13) send(&#39;" + name + "&#39;, this)' />";
      private_chat_container.appendChild(new_div);
      return new_div;
    }
  }

  function remove_private_window(name) {
    private_chat_container = document.getElementById('private_chat_container');
    if (document.getElementById('private_' + name))
      private_chat_container.removeChild(document.getElementById('private_' + name));
  }

.public_chat
  #online_users
  #msgs

#private_chat_container
  .private_chat

.msg_box
  hr
  input(type='text', id='msg', name='msg', onKeyDown='if (event.keyCode == 13) send(null, this)')
